<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <!-- Main Content -->
    <div class="container">
        <div class="row">


        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form action="" method="POST">
              <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
              </div>
            </form>
        </div>
        </div>
    </div>

    <hr>

</body>

</html>